{% extends 'base.html' %}
{% block content %}
<div class="custom-card my-5">
    <h2 class="text-info mb-4 text-center">🥊 პროფესიონალური კრივის მსოფლიო რეიტინგები - ივლისი 2026</h2>

    <div class="row text-center mb-4">
        <div class="col-md-4 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#b_heavy">Heavyweight (მძიმე)</button></div>
        <div class="col-md-4 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#b_lightheavy">Light Heavyweight (ქვემძიმე)</button></div>
        <div class="col-md-4 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#b_supermiddle">Super Middleweight (სუპერ-საშუალო)</button></div>
        <div class="col-md-4 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#b_middle">Middleweight (საშუალო)</button></div>
        <div class="col-md-4 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#b_welter">Welterweight (ქვესაშუალო)</button></div>
        <div class="col-md-4 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#b_light">Lightweight (მსუბუქი)</button></div>
    </div>

    <div class="accordion" id="boxRank">
        <!-- Heavyweight -->
        <div id="b_heavy" class="collapse show" data-parent="#boxRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">მძიმე წონა (Heavyweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი (The Ring/WBC/WBO): Oleksandr Usyk (22-0-0, 14 KO)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. Daniel Dubois (22-2-0, 21 KO)</li>
                    <li class="list-group-item bg-transparent text-white">2. Agit Kabayel (25-0-0, 17 KO)</li>
                    <li class="list-group-item bg-transparent text-white">3. Tyson Fury (34-1-1, 24 KO)</li>
                    <li class="list-group-item bg-transparent text-white">4. Fabio Wardley (18-0-1, 17 KO)</li>
                    <li class="list-group-item bg-transparent text-white">5. Filip Hrgovic (17-1-0, 14 KO)</li>
                    <li class="list-group-item bg-transparent text-white">6. Moses Itauma (10-0-0, 8 KO)</li>
                    <li class="list-group-item bg-transparent text-white">7. Frank Sanchez (24-1-0, 17 KO)</li>
                    <li class="list-group-item bg-transparent text-white">8. Efe Ajagba (20-1-0, 14 KO)</li>
                    <li class="list-group-item bg-transparent text-white">9. Murat Gassiev (30-2-0, 23 KO)</li>
                    <li class="list-group-item bg-transparent text-white">10. Justis Huni (10-0-0, 5 KO)</li>
                </ol>
            </div>
        </div>

        <!-- Light Heavyweight -->
        <div id="b_lightheavy" class="collapse" data-parent="#boxRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">ქვემძიმე წონა (Light Heavyweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი: Artur Beterbiev (21-0-0, 20 KO)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. Dmitry Bivol (23-1-0, 12 KO)</li>
                    <li class="list-group-item bg-transparent text-white">2. David Benavidez (29-0-0, 24 KO)</li>
                    <li class="list-group-item bg-transparent text-white">3. Joshua Buatsi (19-0-0, 13 KO)</li>
                    <li class="list-group-item bg-transparent text-white">4. Callum Smith (29-2-0, 21 KO)</li>
                    <li class="list-group-item bg-transparent text-white">5. Anthony Yarde (26-3-0, 24 KO)</li>
                    <li class="list-group-item bg-transparent text-white">6. Albert Ramirez (19-0-0, 16 KO)</li>
                    <li class="list-group-item bg-transparent text-white">7. Oleksandr Gvozdyk (20-2-0, 16 KO)</li>
                    <li class="list-group-item bg-transparent text-white">8. Dan Azeez (20-1-1, 13 KO)</li>
                    <li class="list-group-item bg-transparent text-white">9. Willie Hutchinson (18-2-0, 13 KO)</li>
                    <li class="list-group-item bg-transparent text-white">10. Ali Izmailov (12-0-0, 8 KO)</li>
                </ol>
            </div>
        </div>

        <!-- Super Middleweight -->
        <div id="b_supermiddle" class="collapse" data-parent="#boxRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">სუპერ-საშუალო წონა (Super Middleweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ვაკანტური (The Ring) / ტოპ მებრძოლი: Saul Canelo Alvarez (62-2-2, 39 KO)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. Osleys Iglesias (13-0-0, 12 KO)</li>
                    <li class="list-group-item bg-transparent text-white">2. Christian Mbilli (28-0-0, 23 KO)</li>
                    <li class="list-group-item bg-transparent text-white">3. Lester Martinez (18-0-0, 15 KO)</li>
                    <li class="list-group-item bg-transparent text-white">4. Jaime Munguia (44-1-0, 35 KO)</li>
                    <li class="list-group-item bg-transparent text-white">5. Diego Pacheco (22-0-0, 18 KO)</li>
                    <li class="list-group-item bg-transparent text-white">6. Jose Resendiz (14-2-0, 10 KO)</li>
                    <li class="list-group-item bg-transparent text-white">7. Jacob Bank (13-0-0, 7 KO)</li>
                    <li class="list-group-item bg-transparent text-white">8. Hamzah Sheeraz (21-0-0, 17 KO)</li>
                    <li class="list-group-item bg-transparent text-white">9. Bektemir Melikuziev (14-1-0, 10 KO)</li>
                    <li class="list-group-item bg-transparent text-white">10. Caleb Plant (23-2-0, 14 KO)</li>
                </ol>
            </div>
        </div>

        <!-- Middleweight -->
        <div id="b_middle" class="collapse" data-parent="#boxRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">საშუალო წონა (Middleweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი (WBC): Carlos Adames (24-1-0, 18 KO)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. Yoenli Hernandez (12-0-0, 10 KO)</li>
                    <li class="list-group-item bg-transparent text-white">2. Erislandy Lara (31-3-3, 19 KO)</li>
                    <li class="list-group-item bg-transparent text-white">3. Troy Isley (13-0-0, 5 KO)</li>
                    <li class="list-group-item bg-transparent text-white">4. Etinosa Oliha (20-0-0, 8 KO)</li>
                    <li class="list-group-item bg-transparent text-white">5. Aaron McKenna (18-0-0, 9 KO)</li>
                    <li class="list-group-item bg-transparent text-white">6. Amari Jones (12-0-0, 10 KO)</li>
                    <li class="list-group-item bg-transparent text-white">7. Chris Eubank Jr. (34-3-0, 25 KO)</li>
                    <li class="list-group-item bg-transparent text-white">8. Jesus Ramos (21-1-0, 17 KO)</li>
                    <li class="list-group-item bg-transparent text-white">9. Denzel Bentley (19-3-1, 16 KO)</li>
                    <li class="list-group-item bg-transparent text-white">10. Janibek Alimkhanuly (16-0-0, 11 KO)</li>
                </ol>
            </div>
        </div>

        <!-- Welterweight -->
        <div id="b_welter" class="collapse" data-parent="#boxRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">ქვესაშუალო წონა (Welterweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ტოპ მებრძოლი: Jaron Ennis (32-0-0, 29 KO)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. Terrence Crawford (41-0-0, 31 KO)</li>
                    <li class="list-group-item bg-transparent text-white">2. Eimantas Stanionis (15-0-0, 9 KO)</li>
                    <li class="list-group-item bg-transparent text-white">3. Brian Norman Jr. (26-0-0, 20 KO)</li>
                    <li class="list-group-item bg-transparent text-white">4. Mario Barrios (29-2-1, 18 KO)</li>
                    <li class="list-group-item bg-transparent text-white">5. Shakhram Giyasov (16-0-0, 9 KO)</li>
                    <li class="list-group-item bg-transparent text-white">6. Giovani Santillan (32-1-0, 17 KO)</li>
                    <li class="list-group-item bg-transparent text-white">7. Alexis Rocha (25-2-0, 16 KO)</li>
                    <li class="list-group-item bg-transparent text-white">8. Jin Sasaki (18-1-1, 17 KO)</li>
                    <li class="list-group-item bg-transparent text-white">9. Souleymane Cissokho (17-0-0, 9 KO)</li>
                    <li class="list-group-item bg-transparent text-white">10. Paddy Donovan (14-0-0, 11 KO)</li>
                </ol>
            </div>
        </div>

        <!-- Lightweight -->
        <div id="b_light" class="collapse" data-parent="#boxRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">მსუბუქი წონა (Lightweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი: Gervonta Davis (30-0-0, 28 KO)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. Vasiliy Lomachenko (18-3-0, 12 KO)</li>
                    <li class="list-group-item bg-transparent text-white">2. Shakur Stevenson (22-0-0, 10 KO)</li>
                    <li class="list-group-item bg-transparent text-white">3. William Zepeda (31-0-0, 27 KO)</li>
                    <li class="list-group-item bg-transparent text-white">4. Denys Berinchyk (19-0-0, 9 KO)</li>
                    <li class="list-group-item bg-transparent text-white">5. Keyshawn Davis (11-0-0, 7 KO)</li>
                    <li class="list-group-item bg-transparent text-white">6. Frank Martin (18-1-0, 12 KO)</li>
                    <li class="list-group-item bg-transparent text-white">7. Raymond Muratalla (22-0-0, 16 KO)</li>
                    <li class="list-group-item bg-transparent text-white">8. Andy Cruz (4-0-0, 2 KO)</li>
                    <li class="list-group-item bg-transparent text-white">9. Edwin De Los Santos (16-2-0, 14 KO)</li>
                    <li class="list-group-item bg-transparent text-white">10. George Kambosos Jr. (21-3-0, 10 KO)</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}