{% extends 'base.html' %}
{% block content %}
<div class="custom-card my-5">
    <h2 class="text-info mb-4 text-center">🥋 ძიუდოს მსოფლიო რეიტინგები - ივლისი 2026 (IJF)</h2>

    <div class="row text-center mb-4">
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2" type="button" data-toggle="collapse" data-target="#j60">-60 კგ</button></div>
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2" type="button" data-toggle="collapse" data-target="#j66">-66 კგ</button></div>
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2" type="button" data-toggle="collapse" data-target="#j73">-73 კგ</button></div>
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2" type="button" data-toggle="collapse" data-target="#j81">-81 კგ</button></div>
        <div class="col-md-4 mb-2"><button class="btn btn-outline-info btn-block py-2" type="button" data-toggle="collapse" data-target="#j90">-90 კგ</button></div>
        <div class="col-md-4 mb-2"><button class="btn btn-outline-info btn-block py-2" type="button" data-toggle="collapse" data-target="#j100">-100 კგ</button></div>
        <div class="col-md-4 mb-2"><button class="btn btn-outline-info btn-block py-2" type="button" data-toggle="collapse" data-target="#jp100">+100 კგ</button></div>
    </div>

    <div class="accordion" id="judoRank">
        <!-- -60 kg -->
        <div id="j60" class="collapse show" data-parent="#judoRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">-60 კგ მსოფლიო რეიტინგი</h4>
                <ol class="list-group list-group-flush bg-transparent">
                    <li class="list-group-item bg-transparent text-white">1. Balabay Aghayev (აზერბაიჯანი)</li>
                    <li class="list-group-item bg-transparent text-white">2. Ayub Bliev (ნეიტრალური)</li>
                    <li class="list-group-item bg-transparent text-white">3. Ahmad Yusifov (აზერბაიჯანი)</li>
                    <li class="list-group-item bg-transparent text-white">4. Ryuju Nagayama (იაპონია)</li>
                    <li class="list-group-item bg-transparent text-white">5. Francisco Garrigos (ესპანეთი)</li>
                    <li class="list-group-item bg-transparent text-white">6. 🇬🇪 <strong>გიორგი სარდალაშვილი</strong> (საქართველო)</li>
                    <li class="list-group-item bg-transparent text-white">7. Yang Yung-wei (ტაივანი)</li>
                    <li class="list-group-item bg-transparent text-white">8. Romain Valadier-Picard (საფრანგეთი)</li>
                    <li class="list-group-item bg-transparent text-white">9. Jorre Verstraeten (ბელგია)</li>
                    <li class="list-group-item bg-transparent text-white">10. 🇬🇪 <strong>ლუხუმ ჩხვიმიანი</strong> (საქართველო)</li>
                </ol>
            </div>
        </div>

        <!-- -66 kg -->
        <div id="j66" class="collapse" data-parent="#judoRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">-66 კგ მსოფლიო რეიტინგი</h4>
                <ol class="list-group list-group-flush bg-transparent">
                    <li class="list-group-item bg-transparent text-white">1. Hifumi Abe (იაპონია)</li>
                    <li class="list-group-item bg-transparent text-white">2. Takeshi Takeoka (იაპონია)</li>
                    <li class="list-group-item bg-transparent text-white">3. Nurali Emomali (ტაჯიკეთი)</li>
                    <li class="list-group-item bg-transparent text-white">4. Ruslan Pashayev (აზერბაიჯანი)</li>
                    <li class="list-group-item bg-transparent text-white">5. Denis Vieru (მოლდოვა)</li>
                    <li class="list-group-item bg-transparent text-white">6. 🇬🇪 <strong>ვაჟა მარგველაშვილი</strong> (საქართველო)</li>
                    <li class="list-group-item bg-transparent text-white">7. Baskhuu Yondonperenlei (მონღოლეთი)</li>
                    <li class="list-group-item bg-transparent text-white">8. Willian Lima (ბრაზილია)</li>
                    <li class="list-group-item bg-transparent text-white">9. Walide Khyar (საფრანგეთი)</li>
                    <li class="list-group-item bg-transparent text-white">10. Battogtokh Erkhembayar (მონღოლეთი)</li>
                </ol>
            </div>
        </div>

        <!-- -73 kg -->
        <div id="j73" class="collapse" data-parent="#judoRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">-73 კგ მსოფლიო რეიტინგი</h4>
                <ol class="list-group list-group-flush bg-transparent">
                    <li class="list-group-item bg-transparent text-white">1. Muhiddin Asadulloev (ტაჯიკეთი)</li>
                    <li class="list-group-item bg-transparent text-white">2. Makhmadbek Makhmadbekov (არაბთა გაერთიანებული საამიროები)</li>
                    <li class="list-group-item bg-transparent text-white">3. Daniel Cargnin (ბრაზილია)</li>
                    <li class="list-group-item bg-transparent text-white">4. Danil Lavrentev (ნეიტრალური)</li>
                    <li class="list-group-item bg-transparent text-white">5. Hidayet Heydarov (აზერბაიჯანი)</li>
                    <li class="list-group-item bg-transparent text-white">6. Soichi Hashimoto (იაპონია)</li>
                    <li class="list-group-item bg-transparent text-white">7. Joan-Benjamin Gaba (საფრანგეთი)</li>
                    <li class="list-group-item bg-transparent text-white">8. Nils Stump (შვეიცარია)</li>
                    <li class="list-group-item bg-transparent text-white">9. 🇬🇪 <strong>ლაშა შავდათუაშვილი</strong> (საქართველო)</li>
                    <li class="list-group-item bg-transparent text-white">10. Murodjon Yuldoshev (უზბეკეთი)</li>
                </ol>
            </div>
        </div>

        <!-- -81 kg -->
        <div id="j81" class="collapse" data-parent="#judoRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">-81 კგ მსოფლიო რეიტინგი</h4>
                <ol class="list-group list-group-flush bg-transparent">
                    <li class="list-group-item bg-transparent text-white">1. Yuhei Oino (იაპონია)</li>
                    <li class="list-group-item bg-transparent text-white">2. Timur Arbuzov (ნეიტრალური)</li>
                    <li class="list-group-item bg-transparent text-white">3. Zelim Tckaev (აზერბაიჯანი)</li>
                    <li class="list-group-item bg-transparent text-white">4. Francois Gauthier Drapeau (კანადა)</li>
                    <li class="list-group-item bg-transparent text-white">5. 🇬🇪 <strong>ტატო გრიგალაშვილი</strong> (საქართველო)</li>
                    <li class="list-group-item bg-transparent text-white">6. Matthias Casse (ბელგია)</li>
                    <li class="list-group-item bg-transparent text-white">7. Joonhwan Lee (სამხრეთ კორეა)</li>
                    <li class="list-group-item bg-transparent text-white">8. Guilherme Schimidt (ბრაზილია)</li>
                    <li class="list-group-item bg-transparent text-white">9. Vedat Albayrak (თურქეთი)</li>
                    <li class="list-group-item bg-transparent text-white">10. Takanori Nagase (იაპონია)</li>
                </ol>
            </div>
        </div>

        <!-- -90 kg -->
        <div id="j90" class="collapse" data-parent="#judoRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">-90 კგ მსოფლიო რეიტინგი</h4>
                <ol class="list-group list-group-flush bg-transparent">
                    <li class="list-group-item bg-transparent text-white">1. Sanshiro Murao (იაპონია)</li>
                    <li class="list-group-item bg-transparent text-white">2. 🇬🇪 <strong>ლუკა მაისურაძე</strong> (საქართველო)</li>
                    <li class="list-group-item bg-transparent text-white">3. Murad Fatiyev (აზერბაიჯანი)</li>
                    <li class="list-group-item bg-transparent text-white">4. Jonghoon Kim (სამხრეთ კორეა)</li>
                    <li class="list-group-item bg-transparent text-white">5. 🇬🇪 <strong>ლაშა ბექაური</strong> (საქართველო)</li>
                    <li class="list-group-item bg-transparent text-white">6. Mihael Zgank (თურქეთი)</li>
                    <li class="list-group-item bg-transparent text-white">7. Davlat Bobonov (უზბეკეთი)</li>
                    <li class="list-group-item bg-transparent text-white">8. Ivan Felipe Silva Morales (კუბა)</li>
                    <li class="list-group-item bg-transparent text-white">9. Christian Parlati (იტალია)</li>
                    <li class="list-group-item bg-transparent text-white">10. Erlan Sherov (ყირგიზეთი)</li>
                </ol>
            </div>
        </div>

        <!-- -100 kg -->
        <div id="j100" class="collapse" data-parent="#judoRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">-100 კგ მსოფლიო რეიტინგი</h4>
                <ol class="list-group list-group-flush bg-transparent">
                    <li class="list-group-item bg-transparent text-white">1. Leonardo Goncalves (ბრაზილია)</li>
                    <li class="list-group-item bg-transparent text-white">2. Zelym Kotsoiev (აზერბაიჯანი)</li>
                    <li class="list-group-item bg-transparent text-white">3. Anton Savytskiy (უკრაინა)</li>
                    <li class="list-group-item bg-transparent text-white">4. Dota Arai (იაპონია)</li>
                    <li class="list-group-item bg-transparent text-white">5. 🇬🇪 <strong>ილია სულამანიძე</strong> (საქართველო)</li>
                    <li class="list-group-item bg-transparent text-white">6. Michael Korrel (ნიდერლანდები)</li>
                    <li class="list-group-item bg-transparent text-white">7. Peter Paltchik (ისრაელი)</li>
                    <li class="list-group-item bg-transparent text-white">8. Aaron Wolf (იაპონია)</li>
                    <li class="list-group-item bg-transparent text-white">9. Shady Elnahas (კანადა)</li>
                    <li class="list-group-item bg-transparent text-white">10. Muzaffarbek Turoboyev (უზბეკეთი)</li>
                </ol>
            </div>
        </div>

        <!-- +100 kg -->
        <div id="jp100" class="collapse" data-parent="#judoRank">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">+100 კგ მსოფლიო რეიტინგი</h4>
                <ol class="list-group list-group-flush bg-transparent">
                    <li class="list-group-item bg-transparent text-white">1. Inal Tasoev (ნეიტრალური)</li>
                    <li class="list-group-item bg-transparent text-white">2. Ushangi Kokauri (აზერბაიჯანი)</li>
                    <li class="list-group-item bg-transparent text-white">3. 🇬🇪 <strong>ირაკლი დემეტრაშვილი</strong> (საქართველო)</li>
                    <li class="list-group-item bg-transparent text-white">4. Hyoga Ota (იაპონია)</li>
                    <li class="list-group-item bg-transparent text-white">5. Teddy Riner (საფრანგეთი)</li>
                    <li class="list-group-item bg-transparent text-white">6. 🇬🇪 <strong>გურამ თუშიშვილი</strong> (საქართველო)</li>
                    <li class="list-group-item bg-transparent text-white">7. Tatsuru Saito (იაპონია)</li>
                    <li class="list-group-item bg-transparent text-white">8. Temur Rakhimov (ტაჯიკეთი)</li>
                    <li class="list-group-item bg-transparent text-white">9. Alisher Yusupov (უზბეკეთი)</li>
                    <li class="list-group-item bg-transparent text-white">10. Minjong Kim (სამხრეთ კორეა)</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}