{% extends 'base.html' %}
{% block content %}
<div class="custom-card my-5">
    <h2 class="text-info mb-4 text-center">🥊 UFC ოფიციალური რეიტინგები და რეკორდები - ივლისი 2026</h2>

    <div class="row text-center mb-5">
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#flyweight">Flyweight (56.7 კგ)</button></div>
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#bantamweight">Bantamweight (61.2 კგ)</button></div>
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#featherweight">Featherweight (65.8 კგ)</button></div>
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#lightweight">Lightweight (70.3 კგ)</button></div>
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#welterweight">Welterweight (77.1 კგ)</button></div>
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#middleweight">Middleweight (83.9 კგ)</button></div>
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#lightheavyweight">Light Heavyweight (93.0 კგ)</button></div>
        <div class="col-md-3 mb-2"><button class="btn btn-outline-info btn-block py-2 font-weight-bold" type="button" data-toggle="collapse" data-target="#heavyweight">Heavyweight (120.2 კგ)</button></div>
    </div>

    <div class="accordion" id="ufcRankings">
        <!-- Flyweight -->
        <div id="flyweight" class="collapse show" data-parent="#ufcRankings">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">უცუმბალესი წონა (Flyweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი: Joshua Van (17-2-0)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. Alexandre Pantoja (30-6-0)</li>
                    <li class="list-group-item bg-transparent text-white">2. Brandon Royval (17-7-0)</li>
                    <li class="list-group-item bg-transparent text-white">3. Brandon Moreno (22-8-2)</li>
                    <li class="list-group-item bg-transparent text-white">4. Amir Albazi (17-2-0)</li>
                    <li class="list-group-item bg-transparent text-white">5. Kai Kara-France (25-11-0)</li>
                    <li class="list-group-item bg-transparent text-white">6. Tatsuro Taira (16-2-0)</li>
                    <li class="list-group-item bg-transparent text-white">7. Matheus Nicolau (19-5-1)</li>
                    <li class="list-group-item bg-transparent text-white">8. Alex Perez (25-9-0)</li>
                    <li class="list-group-item bg-transparent text-white">9. Manel Kape (19-7-0)</li>
                    <li class="list-group-item bg-transparent text-white">10. Steve Erceg (12-3-0)</li>
                </ol>
            </div>
        </div>

        <!-- Bantamweight -->
        <div id="bantamweight" class="collapse" data-parent="#ufcRankings">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">სუპერ-მსუბუქი წონა (Bantamweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი: Petr Yan (20-5-0)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. 🇬🇪 <strong>მერაბ დვალიშვილი</strong> (Merab Dvalishvili) (21-5-0)</li>
                    <li class="list-group-item bg-transparent text-white">2. Sean O'Malley (18-2-0)</li>
                    <li class="list-group-item bg-transparent text-white">3. Cory Sandhagen (17-5-0)</li>
                    <li class="list-group-item bg-transparent text-white">4. Deiveson Figueiredo (24-4-1)</li>
                    <li class="list-group-item bg-transparent text-white">5. Marlon Vera (23-10-1)</li>
                    <li class="list-group-item bg-transparent text-white">6. Henry Cejudo (16-4-0)</li>
                    <li class="list-group-item bg-transparent text-white">7. Song Yadong (21-8-1)</li>
                    <li class="list-group-item bg-transparent text-white">8. Jose Aldo (32-9-0)</li>
                    <li class="list-group-item bg-transparent text-white">9. Rob Font (21-8-0)</li>
                    <li class="list-group-item bg-transparent text-white">10. Umar Nurmagomedov (18-0-0)</li>
                </ol>
            </div>
        </div>

        <!-- Featherweight -->
        <div id="featherweight" class="collapse" data-parent="#ufcRankings">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">ქვემსუბუქი წონა (Featherweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი: Alexander Volkanovski (28-4-0)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. Movsar Evloev (18-0-0)</li>
                    <li class="list-group-item bg-transparent text-white">2. Diego Lopes (26-6-0)</li>
                    <li class="list-group-item bg-transparent text-white">3. Lerone Murphy (15-0-1)</li>
                    <li class="list-group-item bg-transparent text-white">4. Aljamain Sterling (24-4-0)</li>
                    <li class="list-group-item bg-transparent text-white">5. Arnold Allen (20-3-0)</li>
                    <li class="list-group-item bg-transparent text-white">6. Jean Silva (14-2-0)</li>
                    <li class="list-group-item bg-transparent text-white">7. Pat Sabatini (19-4-0)</li>
                    <li class="list-group-item bg-transparent text-white">8. Youssef Zalal (16-5-1)</li>
                    <li class="list-group-item bg-transparent text-white">9. Nathaniel Wood (21-6-0)</li>
                    <li class="list-group-item bg-transparent text-white">10. Kevin Vallejos (13-1-0)</li>
                </ol>
            </div>
        </div>

        <!-- Lightweight -->
        <div id="lightweight" class="collapse" data-parent="#ufcRankings">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">მსუბუქი წონა (Lightweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი: Justin Gaethje (28-5-0)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. 🇬🇪 <strong>ილია თოფურია</strong> (Ilia Topuria) (17-1-0)</li>
                    <li class="list-group-item bg-transparent text-white">2. Arman Tsarukyan (23-3-0)</li>
                    <li class="list-group-item bg-transparent text-white">3. Charles Oliveira (37-11-0)</li>
                    <li class="list-group-item bg-transparent text-white">4. Max Holloway (26-9-0)</li>
                    <li class="list-group-item bg-transparent text-white">5. Benoît Saint Denis (14-3-0)</li>
                    <li class="list-group-item bg-transparent text-white">6. Mateusz Gamrot (24-3-0)</li>
                    <li class="list-group-item bg-transparent text-white">7. Renato Moicano (20-6-0)</li>
                    <li class="list-group-item bg-transparent text-white">8. Quillan Salkilld (12-1-0)</li>
                    <li class="list-group-item bg-transparent text-white">9. Paddy Pimblett (22-3-0)</li>
                    <li class="list-group-item bg-transparent text-white">10. Mauricio Ruffy (11-1-0)</li>
                </ol>
            </div>
        </div>

        <!-- Welterweight -->
        <div id="welterweight" class="collapse" data-parent="#ufcRankings">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">ქვესაშუალო წონა (Welterweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი: Islam Makhachev (28-1-0)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. Carlos Prates (21-6-0)</li>
                    <li class="list-group-item bg-transparent text-white">2. Ian Machado Garry (15-0-0)</li>
                    <li class="list-group-item bg-transparent text-white">3. Michael Morales (17-0-0)</li>
                    <li class="list-group-item bg-transparent text-white">4. Jack Della Maddalena (17-2-0)</li>
                    <li class="list-group-item bg-transparent text-white">5. Sean Brady (17-1-0)</li>
                    <li class="list-group-item bg-transparent text-white">6. Gabriel Bonfim (16-1-0)</li>
                    <li class="list-group-item bg-transparent text-white">7. Belal Muhammad (24-4-0)</li>
                    <li class="list-group-item bg-transparent text-white">8. Leon Edwards (22-4-0)</li>
                    <li class="list-group-item bg-transparent text-white">9. Joaquin Buckley (20-6-0)</li>
                    <li class="list-group-item bg-transparent text-white">10. Kamaru Usman (20-4-0)</li>
                </ol>
            </div>
        </div>

        <!-- Middleweight -->
        <div id="middleweight" class="collapse" data-parent="#ufcRankings">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">საშუალო წონა (Middleweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი: Sean Strickland (31-7-0)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. Khamzat Chimaev (15-1-0)</li>
                    <li class="list-group-item bg-transparent text-white">2. Dricus Du Plessis (22-3-0)</li>
                    <li class="list-group-item bg-transparent text-white">3. Nassourdine Imavov (15-4-0)</li>
                    <li class="list-group-item bg-transparent text-white">4. Joe Pyfer (14-3-0)</li>
                    <li class="list-group-item bg-transparent text-white">5. Brendan Allen (24-6-0)</li>
                    <li class="list-group-item bg-transparent text-white">6. Caio Borralho (17-1-0)</li>
                    <li class="list-group-item bg-transparent text-white">7. Anthony Hernandez (13-2-0)</li>
                    <li class="list-group-item bg-transparent text-white">8. Israel Adesanya (24-5-0)</li>
                    <li class="list-group-item bg-transparent text-white">9. Gregory Rodrigues (16-5-0)</li>
                    <li class="list-group-item bg-transparent text-white">10. Ikram Aliskerov (16-2-0)</li>
                    <li class="list-group-item bg-transparent text-white">თვალსაჩინო: 🇬🇪 <strong>რომან დოლიძე</strong> (14-3-0)</li>
                </ol>
            </div>
        </div>

        <!-- Light Heavyweight -->
        <div id="lightheavyweight" class="collapse" data-parent="#ufcRankings">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">ქვემძიმე წონა (Light Heavyweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი: Carlos Ulberg (15-1-0)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">1. Alex Pereira (13-4-0)</li>
                    <li class="list-group-item bg-transparent text-white">2. Magomed Ankalaev (19-1-1)</li>
                    <li class="list-group-item bg-transparent text-white">3. Jiří Procházka (30-6-1)</li>
                    <li class="list-group-item bg-transparent text-white">4. Paulo Costa (15-4-0)</li>
                    <li class="list-group-item bg-transparent text-white">5. Jamahal Hill (12-2-0)</li>
                    <li class="list-group-item bg-transparent text-white">6. Khalil Rountree Jr. (13-6-0)</li>
                    <li class="list-group-item bg-transparent text-white">7. Dominick Reyes (14-4-0)</li>
                    <li class="list-group-item bg-transparent text-white">8. Volkan Oezdemir (20-7-0)</li>
                    <li class="list-group-item bg-transparent text-white">9. Azamat Murzakanov (14-0-0)</li>
                    <li class="list-group-item bg-transparent text-white">10. Bogdan Guskov (16-3-0)</li>
                </ol>
            </div>
        </div>

        <!-- Heavyweight -->
        <div id="heavyweight" class="collapse" data-parent="#ufcRankings">
            <div class="card bg-dark border-info text-white p-4">
                <h4 class="text-warning border-bottom pb-2 mb-3">მძიმე წონა (Heavyweight)</h4>
                <h5 class="text-success font-weight-bold">👑 ჩემპიონი: Tom Aspinall (15-3-1)</h5>
                <ol class="list-group list-group-flush bg-transparent mt-2">
                    <li class="list-group-item bg-transparent text-white">ჩემპიონი (Interim): Ciryl Gane (14-2-0)</li>
                    <li class="list-group-item bg-transparent text-white">2. Alexander Volkov (38-10-0)</li>
                    <li class="list-group-item bg-transparent text-white">3. Sergei Pavlovich (18-3-0)</li>
                    <li class="list-group-item bg-transparent text-white">4. Alex Pereira (13-4-0)</li>
                    <li class="list-group-item bg-transparent text-white">5. Josh Hokit (8-0-0)</li>
                    <li class="list-group-item bg-transparent text-white">6. Waldo Cortes Acosta (13-1-0)</li>
                    <li class="list-group-item bg-transparent text-white">7. Rizvan Kuniev (13-2-1)</li>
                    <li class="list-group-item bg-transparent text-white">8. Curtis Blaydes (18-5-0)</li>
                    <li class="list-group-item bg-transparent text-white">9. Serghei Spivac (17-4-0)</li>
                    <li class="list-group-item bg-transparent text-white">10. Vitor Petrino (12-1-0)</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}